@import "../../Assets/SCSS/mixin.scss";

.container {
    display: grid;
    grid-template-columns: 2fr 4fr 1fr;
    padding: 0 4.4rem;
    column-gap: 2.6rem;

    @include devicesBreak(bigdesktop) {
        column-gap: 1rem;
        grid-template-columns: 2fr 3fr 1fr;
    }

    @include devicesBreak(desktop) {
        padding: 0 3rem;
        grid-template-columns: 2fr 1.8fr 0.8fr;
    }

    @include devicesBreak(tablet) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .products {
        max-height: 60.5rem;
        overflow-y: auto;

        @include devicesBreak(tablet) {
            order: 3;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 4rem;

        @include devicesBreak(tablet) {
            order: 2;
        }
    }

    .actions {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;

        @include devicesBreak(tablet) {
            order: 1;
            flex-direction: row;
        }

        @include devicesBreak(tablet) {
            flex-direction: column;
        }
    }

    .total h3 {
        display: flex;
        justify-content: center;
    }

    h3 {
        font-size: 3rem;
    }

    .input {
        input {
            font-size: 2.4rem;
        }

        label {
            font-size: 2.6rem;
        }
    }

    .gift {
        &-btn {
            word-wrap: break-word;
            line-height: 3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 1.8rem;
        }


        &-icon {
            font-size: 8rem;
            transform: translate(0, -2rem);
        }
    }


    .finish-btn,
    .deliver-btn {
        padding-top: 2rem;
        padding-bottom: 2rem;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .deliver-btn {
        flex-direction: column;
    }

    .date {
        display: flex;
        justify-content: center;
    }

    .date,
    .deliver-btn {
        width: 100%;
    }

    .alert {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        padding: 0.4rem;

        .actions {
            margin-bottom: 4rem;
            display: flex;
            flex-direction: row;
        }

        &-title {
            font-size: 5rem;

            @include devicesBreak(bigdesktop) {
                font-size: 4rem;
            }

            @include devicesBreak(bigphone) {
                font-size: 3rem;
            }
        }
    }

    .messages {
        font-size: 2.4rem;
        font-weight: 900;

        @include devicesBreak(bigdesktop) {
            font-size: 2rem;
        }

        @include devicesBreak(bigphone) {
            font-size: 1.8rem;
        }
    }
}