@import "../../Assets/SCSS/mixin.scss";

.data {
    font-weight: 400;
    font-size: 3.2rem;
}

.container {
    margin: 0 4rem;
    display: flex;
    justify-content: space-between;

    @include devicesBreak(bigdesktop) {
        flex-direction: column;
        text-align: center;

        .data {
            font-size: 2rem;
        }
    }
}

.store {
    width: 50%;

    @include devicesBreak(bigdesktop) {
        width: 90%;
    }

    @include devicesBreak(phone) {
        width: 100%;
    }
}