@use "../../Assets/SCSS/variables.scss";

.container {
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    z-index: 1001;
    background-color: variables.$warning;
    text-align: center;
    font-size: 4rem;
}