@use "../../Assets/SCSS/variables.scss";
@import "../../Assets/SCSS/mixin.scss";


.container {
    height: 20rem;
    width: 100%;
    background-color: variables.$main-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include devicesBreak(phone) {
        height: 16rem;
    }

    .logo {
        width: 22rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        margin-left: 6rem;

        @include devicesBreak(bigphone) {
            width: 14rem;
        }

        @include devicesBreak(phone) {
            width: 12rem;
            font-size: 1.2rem;
            margin-left: 2rem;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 6rem;
    }

    .redirects {
        display: flex;
        gap: 8rem;
        font-size: 5rem;

        &-mobile {
            position: absolute;
            display: none;
            pointer-events: none;
            background-color: variables.$main-color;
            right: 0;
            left: 0;
            width: 100%;
            bottom: 0;
            transform: translate(0, 3.6rem);
            font-size: 2.6rem;
            padding: 0.2rem 0;



            @include devicesBreak(tablet) {
                display: flex;
                justify-content: center;
                pointer-events: all;
            }

            @include devicesBreak(bigphone) {
                font-size: 2.2rem;
                transform: translate(0, 3rem);
            }

            &-links {
                width: 70%;
                display: flex;
                justify-content: space-between;
                position: relative;

                &::after {
                    content: "";
                    height: 1px;
                    width: 125%;
                    border-top-style: solid;
                    border-top-color: variables.$grey;
                    border-top-width: 1px;
                    margin: 0 auto;
                    position: absolute;
                    transform: translate(-12.5%, 0);
                }
            }
        }

        @include devicesBreak(bigdesktop) {
            gap: 4rem;
            font-size: 3rem;
        }

        @include devicesBreak(desktop) {
            gap: 1rem;
            font-size: 2.4rem;
        }

        @include devicesBreak(tablet) {
            display: none;
        }
    }

    .current-title {
        font-size: 8rem;
        font-weight: 400;

        @include devicesBreak(bigdesktop) {
            font-size: 5rem;
        }

        @include devicesBreak(desktop) {
            font-size: 4.4rem;
        }

        @include devicesBreak(tablet) {
            font-weight: 900;
        }

        @include devicesBreak(bigphone) {
            font-size: 2.8rem;
        }

        @include devicesBreak(phone) {
            font-size: 2.2rem;
        }
    }

    .basket {
        border-style: none;
        width: 8rem;
        height: 8rem;
        font-size: 8rem;
        padding: 0;
        transform: translate(0, -1rem);
        margin-right: 6rem;

        @include devicesBreak(bigdesktop) {
            font-size: 5rem;
            width: 5rem;
            height: 5rem;
        }

        @include devicesBreak(desktop) {
            font-size: 4.4rem;
            width: 4.4rem;
            height: 4.4rem;
        }

        @include devicesBreak(bigphone) {
            font-size: 3.4rem;
            width: 3.4rem;
            height: 3.4rem;
        }

        @include devicesBreak(phone) {
            margin-right: 2.4rem;
        }

        &-count {
            position: absolute;
            background-color: variables.$white;
            width: 6rem;
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            top: -0.5rem;
            right: -0.5rem;
            transform: translate(3rem, -2.5rem);

            @include devicesBreak(bigdesktop) {
                width: 4rem;
                height: 4rem;
                transform: translate(1.8rem, -1.5rem);
            }

            @include devicesBreak(desktop) {
                width: 3rem;
                height: 3rem;
                transform: translate(0.8rem, -1.0rem);
            }
        }

        &-container {
            position: relative;
        }

        &:hover {
            font-size: 7.8rem;
            background-color: initial;
            cursor: pointer;

            @include devicesBreak(bigdesktop) {
                font-size: 6rem;
            }

            @include devicesBreak(desktop) {
                font-size: 5rem;
            }
        }

    }

    .link {
        text-decoration: none;
    }

    .flowers {
        position: absolute;
        width: 26rem;
        height: 16rem;
        right: 11rem;
        bottom: 3.4rem;
        transform: translate(0, 50%);
        z-index: 100;
        pointer-events: none;

        @include devicesBreak(desktop) {
            width: 20rem;
            height: 10rem;
        }

        @include devicesBreak(tablet) {
            display: none;
        }
    }
}