@import "../../Assets/SCSS/mixin.scss";

.container {
        font-size: 1rem;
}

.flower {
        position: absolute;
        width: 30rem;
        height: 30rem;

        @include devicesBreak(tablet) {
                width: 25rem;
                height: 25rem;
        }

        @include devicesBreak(bigphone) {
                width: 20rem;
                height: 20rem;
        }

        @include devicesBreak(phone) {
                width: 18rem;
                height: 18rem;
        }

        &-lt {
                top: 0;
                left: 0;
        }

        &-rt {
                top: 0;
                right: 0;
        }

        &-lb {
                bottom: 0;
                left: 0;

                svg {
                        transform: translate(0, 1rem);
                }
        }

        &-rb {
                bottom: 0;
                right: 0;

                svg {
                        transform: translate(0, 1rem);
                }
        }
}

.content {
        width: 50%;
        height: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
}

.title {
        font-size: 4rem;
        font-weight: 100;

        @include devicesBreak(bigphone) {
                font-size: 2.8rem;
                font-weight: 500;
        }

        @include devicesBreak(phone) {
                font-size: 2rem;
                font-weight: 900;
        }

        @include devicesBreak(superminiphone) {
                font-size: 1.6rem;
                font-weight: 900;
        }
}

.actions {
        display: flex;
        gap: 0.5rem;

        @include devicesBreak(bigphone) {
                flex-direction: column;
        }
}

.action {
        width: 26rem;
}

.follow {
        white-space: nowrap;
}

.contacts {
        font-size: 4rem;
        cursor: pointer;

        @include devicesBreak(bigphone) {
                font-size: 2.8rem;
        }
}

.contacts:hover {
        font-size: 4.1rem;
}

.link {
        color: inherit;
        text-decoration: inherit;
}