@import "../../Assets/SCSS/mixin.scss";

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;

    @include devicesBreak(tablet) {
        margin: 0 1rem;
    }

    .copy-id {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.4rem;

        &-btn {
            display: flex;
            align-items: center;
        }
    }
}