@use "../../Assets/SCSS/variables.scss";
@import "../../Assets/SCSS/mixin.scss";

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr;
    column-gap: 4rem;
    padding: 0 6rem;

    @include devicesBreak(bigdesktop) {
        column-gap: 2rem;
    }

    @include devicesBreak(desktop) {
        padding: 0 2rem;
        column-gap: 1rem;
        grid-template-columns: 1fr 1fr 0.7fr;
    }

    @include devicesBreak(tablet) {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .products {
        grid-row-start: 1;
        grid-row-end: 3;
        max-height: 55rem;
        overflow-y: auto;
    }

    .search {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        display: flex;
        align-items: end;
        height: 6.8rem;
    }

    .info {
        max-height: 40rem;
        height: 100%;
        padding-top: 0;
        padding-bottom: 4rem;
    }

    .messages,
    .chat {
        max-height: 45rem;
    }

    .bigger-text {
        font-size: 2.6rem;
    }
}

.chat-only {
    position: fixed;
    bottom: 20rem;
    left: 0;
    padding: 0 2rem;
    width: 100%;
}

.message {

    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: space-between;
    padding: 5rem 10rem;

    @include devicesBreak(tablet) {
        padding: 5rem 5rem;
    }

    @include devicesBreak(phone) {
        padding: 5rem 2rem;
    }

    &-input {
        resize: none;
        background-color: variables.$grey;
        height: 28rem;
        font-size: 2rem;

        &:focus {
            outline: none;
        }
    }

    &-actions {
        display: flex;
        justify-content: space-between;

        @include devicesBreak(tablet) {
            flex-direction: column;
        }
    }
}

.modal {

    &-title {
        text-align: center;
        font-size: 5rem !important;
        font-weight: 300;

        @include devicesBreak(desktop) {
            font-size: 4rem !important;
        }

        @include devicesBreak(tablet) {
            font-size: 3rem !important;
        }

        @include devicesBreak(tablet) {
            font-size: 2.4rem !important;
            font-weight: 900;
        }
    }
}

.warning {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    justify-content: space-between;
    padding: 5rem 10rem;

    &-message {
        text-align: center;
        font-size: 2.4rem;
    }

    &-actions {
        display: flex;
        justify-content: center;
    }
}